html, body {
	height: 100%;
  font: 400 15px Lato-Light, sans-serif;
  background-color: #f1f1f1;
}

h1 {
  font-size: 4em;
  margin-top: 0.6em;
  margin-bottom: 0em;
  letter-spacing: 6px;
  color: #ffffff;
  font-family: Lato, sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
}

h2 {
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
  margin-bottom: 1em;
}

h3 {
  font-size: 2.5em;
  color: #555;
  margin-top: 3em;
  margin-bottom: 1em;
  text-shadow: 1px 2px 3px rgba(255, 255, 255, .6);
}

p {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.5em;
  color: #555;
}

#beta {
	margin-top: 5px;
	font-size: 1em;
	color: #fff;
}

.container-fluid {
  height: 100%;
}

.fill{
    height:100%;
    min-height:100%;
}

.left {
  min-height: 100%;
  background-color: #ED6A5A;
}

.right {
  min-height: 100%;
  background-color: #f1f1f1;
}

.thumbnail {
  background-color:transparent;
  border: none;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  max-width: 350px;
}

.btn-round-lg{
  font-family: Lato, sans-serif;
  border-radius: 22.5px;
  width: 300px;
  border-color: #fff;
  border-width: 3px;
  background-color: transparent;
  color: #fff;
}

.btn-round-lg:hover {
  border-color: #fff;
  background-color: #fff;
  color: #ED6A5A;
}

.circle {
  font-family: Lato, sans-serif;
  margin: 15px 15px 0px 15px;
  display:inline-block;
  width:80px;
  height:80px;
  border-radius:66px;
  border:1px solid #444;
  font-size:20px;
  color:#666;
  line-height:75px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 1px 0 #fff;
  background:transparent;
}

.pomodoro {
  color: #ED6A5A;
  border:2.5px solid rgba(237, 106, 90, .6);
}

.break {
  color: #9bc1bc;
  border:2.5px solid rgba(155, 193, 188, .6);
}

.target {
  color: #555;
  border:2.5px solid rgba(85, 85, 85, .6);
}

.howTo {
  font-family: Lato, sans-serif;
  margin: 15px;
  width:80px;
  display:inline-block;
  margin-bottom: 20px;
}

.work {
  color: #ED6A5A;
}
.breakSL {
  color: #9bc1bc;
}
.repeat {
  color: #555;
}

#pom {
  margin-top: 50px;
}
